@import "about";


$minwidth: 1px;

// Color scheme
$main-color: #e15454; // red
$main-color: #59BEBE; // blue
$preview-label-font: #FFF;

// General typography

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSansSub";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2") format("woff2");
}

$font-main-title: OpenSans, Helvetica, sans-serif;
$font-sec-title: OpenSansSub, Helvetica, sans-serif;


/***** Sticky footer styles Bootstrap solution *****/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 80px;
}
/*********/


// ------------------------------
// Navbar
// ------------------------------

// Layout
.navbar {
	border-bottom: 1px solid rgba(221, 221, 221, 0.41);
	top: 0px;
	left: 0px;
	margin: 0px;
	height: 55px;
	min-width: 850px; // Remove for responsive
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: white;

	ul {
		display: inline-block;
	}

	li {
		display: inline-block;
		padding-top: 20px;

		a {
			padding: 20px 5px 18px 5px;
			margin: 0px 15px 0px 15px;
			color: rgb(119, 119, 119);
		}

		.active {
			border-bottom: 2px solid $main-color;
		}
	}

	form {
		float: right;
		margin-top: 14px;

		input {
			border-radius: 20px;
			font-size: 12px;
			padding: 0px 10px 0px 10px;
			height: 30px;
		}

		input:focus {
			border-color: $main-color;
		}
	}

}


// Typo
.navbar {
	li {
		text-transform: uppercase;
		font-size: 12px;

		a {
			text-decoration: none;
		}

		.active {
			color: $main-color;
		}
	}

}


body {
	background-color: white;
}



// ------------------------------
// Logo
// ------------------------------
#header {
	width: 350px;
	margin: auto;
	margin-top: 75px;
}


// ------------------------------
// Carousel
// ------------------------------
// Layout
.content {
	margin: auto;
	margin-top: 30px;
	width: 100%;
	min-width: 600px; // Remove for responsive
}

.slick-carousel div{
	height: 420px;
}

#carousel {
	visibility: hidden;
}

.slide-title {
	margin-top: 120px;
}

.slide-subtitle {
	margin-bottom: 30px;
}

.slick-prev {
	z-index: 8;
	left: 15px;
}

.slick-next {
	z-index: 8;
	right: 15px;
}

.slick-list {
	z-index: 7;
}

.slide-1 {
	background-image: url("../img/carousel_tresChocolates.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
}

.slide-2 {
	background-image: url("../img/carousel_gadhus.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
}

// Typo
.centered {
	width: 80%;
	margin: auto;
	text-align: center;

	.slide-title {
		display: block;
		font-family: $font-main-title;
		color: #FFF;
		font-size: 48px;
		line-height: 68.5667px;
		text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
		text-transform: uppercase;

		@media (max-width: 900px) {
			font-size: 32px;
		}

		@media (max-width: 400px) {
			font-size: 16px;
		}
	}

	.slide-subtitle {
		display: block;
		font-family: $font-sec-title;
		color: #FFF;
		font-size: 24px;
		text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0px;
		line-height: 34.2833px;
	}

	button {
		color: white;
		background-color: $main-color;
		border-color: $main-color;
	}

	button:hover {
		background-color: #438987;
		border-color: #438987;
	}
}






// ------------------------------
// Main
// ------------------------------

// Layout
#main-content {
	padding-top: 100px;
	z-index: 5;
	min-width: $minwidth;
}



// ------------------------------
// Post-preview
// ------------------------------
// Layout
.one-third.column{
	margin-left: 1%;
	margin-right: 1%;

	.post-photomain {
		// height: 186px;
		// overflow: hidden;
		position: relative;
		cursor: pointer;
	}

	.post-title, .post-body {
		cursor: pointer;
	}

	.post-title {
		margin-bottom: 10px;
	}

	.label-main {
		position: absolute;
		bottom: 0px;
		margin-bottom: 0.53em;
		padding: 0% 4% 0%;
	}

	.post-body {
		margin-bottom: 50px;
	}
}

// Typo
.one-third.column{
	.label-main {
		font-family: $font-sec-title;
		font-size: 11px;
		text-transform: uppercase;
		line-height: 27px;
		background-color: $main-color;
		color: $preview-label-font;
	}

	.post-title {
		font-family: $font-main-title;
		font-size: 18px;
		line-height: 28.8px;
		color: #565656;
		text-transform: uppercase;
	}

	.post-body > p {
		font-family: $font-sec-title;
		font-size: 13px;
		line-height: 24.7px;
		color: #565656;
	}
}


// ------------------------------
// Posts
// ------------------------------
// Layout
#post-container {
	.eight {
		img {
			margin-bottom: 10px;
			margin-top: 8px;
		}
	}
}

// Typo
#post-container {
	.eight {
		h3 {
			font-family: $font-main-title;
			font-size: 21px;
			line-height: 33px;
			color: #565656;
			text-transform: uppercase;
		}

		p, li, ul {
			font-family: $font-sec-title;
			font-size: 16px;
			line-height: 28.4px;
			color: #565656;
		}

		h5 {
			font-family: $font-main-title;
			font-size: 14px;
			line-height: 22.4px;
			color: #565656;
			text-transform: uppercase;
		}
	}

	.contact {
		p {
			font-size: 14px;
			margin-bottom: 0px;
		}

		margin-bottom: 25px;
	}

	.keywords {
		p {
			display: inline-block;
			background-color: #F2F2EB;
			color: #898989;
			font-size: 14px;
			padding: 3px 8px 3px;
			margin-right: 10px;
		}

		#category {
			background-color: #FFF;
			padding-left: 0px;
			color: #565656;
		}
	}
}



// ------------------------------
// Footer
// ------------------------------

// Layout
footer {
	background-color: rgb(60, 60, 60);
  height: 80px;
  margin-top: 50px;

  /***** Sticky footer styles Bootstrap solution *****/
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Typo
footer {
	color: #9f9f9f;
	text-align: center;

	p {
		margin-top: 33px;
		font-size: 10px;
		letter-spacing: 0.2em;
	}
}







